/* this is our design */

body{
    margin:0 auto;
    padding: 0;

}

.container{
    border: 4px inset #000000;
}

.allpage {
    min-height:  500px;
}
.header{
    min-height:100px;
}

.footer{
    min-height: 40px;

    background-color: #000000;
    color: #ffffff;
}

.header h1{
    margin: 0;
    padding: 10px;
    font-family: arial;
    font-size: 32px;
    font-weight: bold;
}

.header h3{
    margin:0;
    font-width:bold;
    font-size: 24px;
    font-weight: bold;
}


.footer h1{
    margin: 0;
    padding: 10px;
    font-family: arial;
    font-size: 16px;
}


.footer h3{
    margin: 0;
    font-family: arial;
    font-size: 13px;
	padding-bottom: 7px;
}

section {
    padding: 20px;

}

.mainpage {
    min-height: 450px;
}
.mainpage h1,h2{
    font-family: Arial;
    font-weight: bold;
}

.mainpage h4{
    font-family: Arial;
    font-weight: bold;
	font-size:20px;
}

.first-page{
    padding-top: 110px;
}

.iconInline {
    width: 25%;
    margin: 1%;
    float: left;
    overflow: hidden;
}

.allDataTable {
	font-size: 10px;
}

.tablepage table{
    background-color: white;
}

.headerImage{
    width: 10%;
    float: left;
    padding: 10px 20px;
}

.headerText{
    width: 90%;
    overflow: hidden;
}

.page{
    display:inline;
    font-size: 16px;
    border: 1px solid #AEACAB;
	margin-right: 4px;
}
.active{
    color:red;
}

.navbar-default {
	/*background-color: #165A03;*/
	background-color: #000000;
    border-color: #000000;	
}

.navbar-default .navbar-nav>li>a {
    color: #ffffff;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #B8B2B1;
}